#skills {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
}

#skills h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-section {
    margin-bottom: 20px;
}

.skills-section h3 {
    font-size: 1.5em;
    color: blue;
    margin-bottom: 10px;
}

.skills-section ul {
    list-style-type: none;
    padding: 0;
}

.skills-section li {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}




